.s2 {
    background-color: #FFEB84;
}

.s3 {
    background-color: #FFC46D;
}

.s4 {
    background-color: #FF9254;
}

.s5 {
    background-color: #FF7373;
}

.s6 {
    background-color: #99FF89;
}

.s7 {
    background-color: #61BDFF;
}

.s8 {
    color: #fff;
    background-color: #9B6DFF;
}

.s9 {
    color: #fff;
    background-color: #AE2AFF;
}

.s10 {
    color: #fff;
    background-color: #8300B0;
}