* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image--container {
    display: flex;
    flex-direction: column; 
    width: 40vw;
    background-color: orange;
    border-radius: 20px;
}

.image--details {
    position: relative;
    margin-top: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    border-radius: 20px;
    z-index: 1;
}

.puzzle--name {
    font-family: var(--displayfo-b);
    margin-bottom: 0.5em;
    font-weight: 800;
}

.description {
    width: 90%;
    word-wrap: break-word;
    font-family: var(--displayfo-li);
    font-size: 0.8rem;
    text-align: center;
    color: #332c1e;
}

.sub {
    display: flex;
    margin: 0.5em;
    width: 100%;
    font-size: 1.2rem;
}

.icon--wrapper {
    display: flex;
    align-items: center;
    margin: 1em;
}

.icon--wrapper p {
    font-family: var(--textfo);
}

.icon {
    margin-right: 0.5em;
    width: 1.4rem;
}