/* Main Body */
.content--body {
    background-color: rgba(255,255,255,0.7);
    padding-top: 6em;
    padding-bottom: 1em;
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

@media (max-width: 500px){
    .content--body{
        flex-direction: column;
    }
}