* {
    font-family: Torus, Neosans, Inter, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 2;
}

.navbar ul {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar ul, .routes, .profileRoute {
    display: flex;
}

.navbar ul {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.8em 1.5em 0.8em 1.2em;
    background-color: #FFCA7A;
}

.navbar li {
    list-style: none;
}

.routes {
    align-items: center;
    gap: 2em;
}

.profileRoute {
    align-items: center;
    gap: 2em;
}

.profileRoute a {
    color: #332c1e;
    text-decoration: none;
}

.user--settings {
    display: flex;
    gap: 1em;
    align-items: center;
}

.pfimage {
    width: 40px;
    height: 40px;
}

.username {
    font-size: 2rem;
}