* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main Body */
.content--body {
    margin: 6em auto;
    width: 90%;
}

/* User Puzzles Page */

.puzzles--container {
    display: grid;
    margin-top: 2em;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.displaypuzzle--card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px gray;
    z-index: 1;
}

.card--info {
    word-wrap: break-word;
    width: 100%;
    padding: 1em;
    background-color: orange;
    border-radius: 0px 0px 20px 20px;
}

.puzzle--name {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game--info {
    display: flex;
}

.game--size, .time--taken, .creator {
    display: flex;
    gap: 0.2em;
    align-items: center;
}

.time--taken {
    margin-left: 1em;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3em;
}

.icon {
    width: 1.4rem;
}

.play--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    transform: scale(0);
    transition: all 300ms;
}

.create--button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2em;
    font-size: 1rem;
    font-weight: 700;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px lightgreen;
}

.displaypuzzle--card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
}

.image:hover > .play--button {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1);
}

/* Create Puzzle Page*/

.create--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
    background-color: aliceblue;
    width: 70%;
    min-height: 100vh;
}

.create--container h1, .create--container h2 {
    font-size: 2rem;
    z-index: 1;
}

.image--container {
    width: 80%;
    border: 2px solid black;
    border-radius: 20px;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 80%;
}


form input[type=text], form select, textarea { 
    background-color: yellow;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
}

form label {
    color: gray;
    font-size: 0.8rem;
}

form select {
    text-align: center;
}

.flexed {
    display: flex;
}

.puzzlenameinput--wrapper {
    width: 80%;
}

.imagereader--wrapper {
    width: 20%;
    padding: 0;
    background-color: none;
}

.imagereader--wrapper, .puzzlenameinput--wrapper {
    display: flex;
    flex-direction: column;
}

.description--input {
    max-width: 100%;
    max-height: 8rem;
}

form button {
    align-self: center;
    background-color: yellow;
    width: 50%;
    padding: 1em;
    font-weight: 700;
    border: 2px solid gray;
    border-radius: 20px;
}

form button:hover {
    cursor: pointer;
    color: gray;
    background-color: white;
}

