.content--body {
    margin: 6em auto;
    width: 93%;
}

p {
    font-family: var(--textfo)
}

.puzzles--container {
    display: grid;
    margin-top: 2em;
    gap: 2em;
    grid-template-columns: repeat(4, calc(93% / 4));
}

.displaypuzzle--card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px gray;
    z-index: 1;
}

.card--info {
    font-size: 0.8rem;
    word-wrap: break-word;
    width: 100%;
    padding: 1em;
    background-color: orange;
    border-radius: 0px 0px 20px 20px;
}

.puzzle--name {
    font-family: var(--displayfo);
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game--info {
    display: flex;
}

.creator, .times--played, .date--added {
    display: flex;
    gap: 0.4em;
    align-items: center;
}

.sub--info {
    display: flex;
    gap: 1.2em;
}

.play {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
}

.creator p {
    max-width: 9ch;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.icon {
    width: 1rem;
}

.play--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    transform: scale(0);
    transition: all 300ms;
}

.displaypuzzle--card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
}

.image:hover > .play--button {
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    transform: scale(1);
}


@media (max-width: 850px){
    
    .puzzles--container {
        grid-template-columns: repeat(3, calc(93% / 3));
    }
}

@media (max-width: 740px){

    .puzzles--container {
        grid-template-columns: repeat(2, calc(93% / 2));
    }
}

@media (max-width: 500px) {
    .puzzles--container {
        grid-template-columns: repeat(1, calc(93%));
    }
}